body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}
div {
  box-sizing: border-box;
}

/* Signup/Login */

.form-wrapper {
  display: block;
  margin: auto;
  text-align: center;
  margin-top:300px;
}

.form-container {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;bottom:0px;
  background:#1B9766;
}

/* -------- End Signup/Login */

/* App */

.app-container {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:50px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.input-container {
  position: absolute;
  bottom:0px;
  right:300px;
  left:0px;
  height:50px;
  z-index:2;
}

.input-wrapper {
  position: absolute;
  left: 0px;
  right:0px;
  top:0px;
  bottom:0px;
}

.chat-input {
  box-sizing: border-box;
  width:100%;
  height:50px;
  font-size:14px;
  padding-left:10px;
}

.right-panel {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  width:300px;
  background:#1B9766;
}

/* -------- End App */

/* Chat */

.chat-msg {
  border: 1px solid rgb(218, 218, 218);
  border-top:0px;
  padding: 20px;
}

.chat-msg-img {
  height:40px;
  margin-top: 10px;
}

.chat-msg-uname {
  font-weight:bold;
  top: -12px;
  margin-left:10px;
  position: relative;
}

.chat-msg-text {
  top:-12px;
  position: relative;
}

/* -------- End Chat */

#templates {
  display:none;
}